<div class="home_section">
	<div class="home_section1">
		<div class="card-body">
			<% if user_signed_in? %>
				<%= link_to '나눌래요', new_product_path %>
			<% else %>
				<%= link_to '나눌래요', new_user_session_path, method: :get %>
			<% end %>
		</div>
	</div>
	<div class="home_section2">
		<%= link_to '받을래요', '/products' %>
	</div>
	관리자
	<%= link_to '등록', new_product_path %>
	
	<%= link_to '목록관리', '/products' %>
</div>