<p id="notice"><%= notice %></p>
<p>
  <strong>카테고리:</strong>
  <%= @product.category %>
</p>
<p>
  <strong>물건명:</strong>
  <%= @product.name %>
</p>

<!-- Like -->
<div>
  <%= image_tag 'like.png', onclick: "hello(this);", style: "height: 15%; width: 15%;" %>
</div>
<p>
  <strong>설명(상태):</strong>
  <%= @product.content %>
</p>

<p>
  <strong>상태:</strong>
  <%= @product.status %>
</p>

<p>
  <img src="<%= @product.image.url %>">
</p>

<p>
  <strong>가격:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>수령방법:</strong>
  <%= @product.delivery %>
</p>

<p>
  <strong>주소</strong>
  <%= @product.address_text %>
</p>


<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>
<%# if current_user %>
  <%# if @exist_flag == false%>    
  <%#= form_tag "/conversations" do %>
    <%#= hidden_field_tag 'user1_id', @product.user_id %>
    <%#= hidden_field_tag 'user2_id', current_user.id %>
    <%#= hidden_field_tag 'product_id', @product.id %>
    <%#= submit_tag '판매자와 대화하기' %>
  <%# end %>

  <%# else %>
    <%#= link_to '계속해서 대화하기' , "conversations/#{@conversation.id}/" %>
    <%#= form_tag "/conversations/#{@conversation.id}" do %>
     <%#=a href="/conversations/<%= @conversation.id %> 
    <%#= submit_tag '계속해서 대화하기' %>
    <%# end %>
  <%# end %>
<%# end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

    <script>
        function hello(elem){
            elem.src = "<%= asset_path("unlike.png")%>";
            elem.setAttribute("onclick","hello2(this)")
        }
        function hello2(elem){
            elem.src = "<%= asset_path("like.png")%>";
            elem.setAttribute("onclick", "hello(this)")
        }
    </script>
