<p id="notice"><%= notice %></p>
<p>
  <strong>카테고리:</strong>
  <%= @product.category %>
</p>
<p>
  <strong>물건명:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>설명(상태):</strong>
  <%= @product.content %>
</p>

<p>
  <strong>상태:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>사진:</strong>
  <img src="<%= @product.image %>">
</p>

<p>
  <strong>가격:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>수령방법:</strong>
  <%= @product.delivery %>
</p>

<p>
  <strong>우편번호:</strong>
  <%= @product.address_num %>
</p>

<p>
  <strong>주소</strong>
  <%= @product.address_text %>
</p>

<p>
  <strong>상세주소</strong>
  <%= @product.address_text2 %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
